@charset "utf-8";
.banner-img__wrapper {
    position: absolute;
    width: 1920px;
    height: 500px;
    left: 50%;
    margin-left: -960px;
    margin-top: -900px;
}

.banner__inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 500px;
}